body {
  background: whitesmoke;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: large;
}

footer {
  display: flex;
  justify-content: center;
}

/*Ecran en format paysage*/
@media (orientation: landscape) {
  div.game {
    display: flex;
    justify-content: center;
  }

  video {
    width: 70%;
  }
}

/*Ecran en format portrait*/
@media (orientation: portrait) {
  div.game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  video {
    width: 80%;
  }
}
